.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    border-radius: 20px;
    padding: 20px;
    flex-grow: 1;
}

.grid-container .grid-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background: none;
    border-radius: 20px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    color: whitesmoke;
}

.grid-item .card-img {
    height: 170px;
    width: 250px;
    border-radius: 20px;

}

.card-body .card-text {
    font-size: large;
    font-weight: 600;
}

.grid-container .grid-item .btn-info {
    padding: 10px 40px;
    font-weight: bold;
    color: black;
}

.grid-container .grid-item .btn-outline-info {
    border: 1px solid black;
    color: black;
    padding: 10px 30px;
    font-weight: 600;
}