.header-container h3 {
    color: turquoise;
    font-weight: bold;
    font-family: cursive;
    font-size: 3vw;
    text-align: center;
    padding-top: 5rem;
}


.navbar-con .house-con {
    position: absolute;
    right: 8%;
    top: 15%;
    width: 60px;
    height: 60px;
    color: rgb(64, 197, 224);
    opacity: 0.6;
}

.house-con:hover {
    cursor: pointer;
    opacity: 1;
}

.navbar-con .collapse-btn-con {
    display: flex;
    justify-content: space-evenly;
}

#our_zimers,
#contact,
#signup,
#login {
    color: turquoise;
}

.collapse-btn-con .nav-btn {
    padding-top: 5dvh;
    background: none;
    border-style: none;
    font-size: x-large;
    font-weight: 700;
    opacity: 0.6;
}

.nav-btn:hover {
    opacity: 1;
    animation: under-line 1s ease-out 2 alternate normal;
    -webkit-animation: under-line 1s ease-out 2 alternate normal;
}

@keyframes under-line {
    0% {
        text-decoration: none;
    }

    50% {
        text-decoration: underline;
    }

    100% {
        text-decoration: underline;
    }
}