.credit-card {
  width: 450px;
  height: 350px;
  perspective: 1000px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1.5s;
}

.credit-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  background-image: url("../../assets/images/integration1.png");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 20px;
}

.card-front img {
  width: 450px;
  height: 350px;
  border-radius: 20px;
}

.card-back {
  background-color: #3498db;
  transform: rotateY(180deg);
  border-radius: 20px;
}

.card-back .input-con {
  display: flex;
  justify-content: space-between;
}

.card-back .card-input {
  text-align: center;
  padding: 5px;
}

.button-group {
  margin-top: 10px;
  text-align: center;
}

.btn-group .btn-outline-info {
  margin-top: 10px;
}

.msg-container {
  text-align: center;
  margin-top: 5px;
}

.pymnt-msg {
  margin-top: 5px;
}